.libD-wm-window.decoration {
	border:1px solid rgb(50,50,50);
}

.libD-wm-window.decoration {
	-moz-border-radius:5px;
	-khtml-border-radius:5px;
	border-radius:5px;
	border:1px solid rgba(50,50,50,0.5)
}

.libD-wm-window {
	position:absolute;

/* Styles protecting the content of the window */
	font-size:16px; /* FIXME : this might warm because it prevent users from auto adjusting the font size of the windows' container */
	text-align:left;
	font-style:normal;
	font-weight:normal;
	text-shadow:none
}

.libD-ws-colors-auto {
	background-color:rgb(237,237,237);
}

.libD-ws-colors-auto {
	background-color:rgba(237,237,237, 0.93);
	color:black;
	font-family:"Liberation Sans", "Nimbus Sans L", "FreeSans", Verdana,Helvetica, sans-serif;
}

.libD-ws-size-auto {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	position:relative;
	zoom:1;
}

.shadows.libD-wm-window.decoration.active, .no-decoration.active .libD-wm-content {
	-webkit-box-shadow:0 4px 8px rgba(0,0,0,0.4);
	-moz-box-shadow:0 4px 8px rgba(0,0,0,0.4);
	box-shadow: 0 4px 8px rgba(0,0,0,0.4);
}

shadows.libD-wm-window.decoration.inactive, .no-decoration.inactive .libD-wm-content {
	-webkit-box-shadow:0 4px 8px rgba(0,0,0,0.2);
	box-shadow:0 4px 8px rgba(0,0,0,0.2);
	-moz-box-shadow:0 4px 8px rgba(0,0,0,0.2);
}

.no-decoration.libD-wm-window .libD-wm-titlebar {
	display:none
}

.libD-wm-window.decoration .libD-wm-titlebar {
	background-color:rgb(237,237,237);
}
.libD-wm-window.decoration .libD-wm-titlebar {
	position:relative;
	-moz-border-radius-topright:5px;
	-khtml-border-top-right-radius:5px;
	-khtml-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	height:17px;
	padding-top:2px;
	color:#555;
	cursor:default;
	background-color:rgba(237,237,237, 0.9);
	background-repeat:repeat-x
}

.active.libD-wm-window.decoration .libD-wm-titlebar {
	background-image:url(wm/title_top_middle.png);
}

.inactive.libD-wm-window.decoration .libD-wm-titlebar {
	background-image:url(wm/title_top_middle_inactive.png);
}

.inactive.libD-wm-window.decoration .libD-wm-title {
	color:#AAA
}

.libD-wm-titlebar-space {
	cursor:default;
	position:absolute;
	left:0px;
	right:55px;
	top:1px;
	bottom:0px;
	overflow:hidden;
	cursor:inherit;
}

.libD-wm-title {
	margin:0;
	margin-left:24px;
	padding:0;
	width:100%;
	height:100%;
	white-space:pre;
	text-align:center;
}

.libD-wm-title, .libD-wm-text {
	font-size:13px;
	font-family: Sans, sans-serif;
	text-shadow:1px 1px 5px #AAA;
	font-weight:bold;
}

.libD-wm-title.libD-wm-title-embeded {
	width:auto;
	margin-left:0;
	display:inline-block;
}

.libD-wm-title-block.libD-wm-title-embeded {
	display:block
}

.libD-wm-icon {
	float:left;
	margin-left:6px;
	height:14px;
	width:auto;
	cursor:auto;
}

.libD-wm-window.icon-hide .libD-wm-icon {
	display:none;
}

.libD-wm-window.icon-hide .libD-wm-titlebar-space {
	left:0;
	-khtml-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

.libD-wm-window.decoration .libD-wm-content {
	z-index:5;
	overflow:hidden;
}

.libD-wm-content {
	position:relative;
}


.libD-wm-min, .libD-wm-restore, .libD-wm-max, .libD-wm-close {
	position:absolute;
	width:16px;
	height:16px;
	font-size:0px;
	color:transparent;
	background-repeat:no-repeat;
	cursor:auto;
	opacity:0.7;
}

.libD-wm-close {
	right:3px;
	background-image:url(wm/close-h.png);
}

.libD-wm-restore {
	right:21px;
	background-image:url(wm/restore-h.png);
}

.libD-wm-max {
	right:21px;
	background-image:url(wm/maximize-h.png);
}

.libD-wm-min {
	right:40px;
	background-image:url(wm/minimize-h.png);
}


.libD-wm-close:hover, .libD-wm-restore:hover, .libD-wm-max:hover, .libD-wm-min:hover {
	opacity:1;
}

.libD-wm-min:active, .libD-wm-restore:active, .libD-wm-max:active, .libD-wm-close:active {
	margin-right:2px;
	margin-top:2px;
	height:12px;
	width:12px;
	background-size:95%;
}

.libD-wm-window.decoration .libD-wm-resize-left {
	position:absolute;
	top:20px;
	left:0;
	bottom:3px;
	width:2px;
	background:#F1F1F1;
	-moz-border-radius-bottomleft:5px;
	-khtml-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}

.libD-wm-window.decoration .libD-wm-resize-right {
	position:absolute;
	top:20px;
	right:0;
	bottom:3px;
	width:2px;
	background:#F1F1F1;
	-moz-border-radius-bottomright:5px;
	-khtml-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}

.libD-wm-window.decoration .libD-wm-resize-bottom {
	position:absolute;
	right:3px;
	left:3px;
	bottom:0;
	height:2px;
	background:#F1F1F1;
}

.libD-wm-window.decoration .libD-wm-resize-bottom, .libD-wm-window.decoration .libD-wm-resize-top, .libD-wm-window.decoration .libD-wm-resize-right {
	z-index:10;
}

.libD-wm-window.decoration .libD-wm-content.fixed-size {
	position:absolute;
	top:20px;
	bottom:2px;
	left:2px;
	right:2px
}

.libD-wm-content.auto-size {
	margin:2px;
	margin-top:0px
}

.libD-wm-window.no-decoration .libD-wm-content.fixed-size {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0
}


.libD-wm-window.libD-wm-maximized .libD-wm-content.fixed-size {
	bottom:0;
	left:0;
	right:0
}

.libD-wm-window.libD-wm-maximized .libD-wm-content.auto-size {
	margin:0
}

.libD-wm-maximized .libD-wm-resize-bottom, .libD-wm-maximized .libD-wm-resize-top, .libD-wm-maximized .libD-wm-resize-right, .libD-wm-maximized .libD-wm-resize-left {
	display:none
}

.libD-wm-window.libD-wm-maximized {
	border:0;
	-moz-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0
}

.libD-wm-window.libD-wm-maximized .libD-wm-titlebar {
	-moz-border-radius:0;
	-khtml-border-radius:0;
	border-radius:0
}
